/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    display: block;
}

/* HEADER */
header {
    background-color: #2e3b46;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 50px;
    width: 50px;
}

header .filter {
    color: #fff;
}

.filter label {
    margin-right: 10px;
}
.filter select {
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

/* MAIN */
main {
    background-color: #1e2e3c;    
}

.albums-container {    
    padding: 60px 20px;
    min-height: calc( 100vh - 70px);
}
.all-albums,
.filtered-albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-album-container {
    width: calc( 100% / 6 );
    padding: 20px;
}
.single-album {    
    background-color: #2e3b46;
    text-align: center;
    padding: 15px;
    min-height: 330px;
}

.album-title {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin: 15px 0;
}

.album-author,
.album-year {
    color: grey;
    font-size: 16px;
}

